body {
    display: flex;
    background-color: rgb(56, 63, 60);
    align-items: center;
    justify-content: center;
    font-family: Consolas, monospace;
    margin-top: 10vh;
    margin-bottom: 10vh;
    color: white;
  }
  
  a:link, a:visited, b {
      color:rgb(128, 186, 161);
  }
  
  a:hover {
      color:rgb(78, 129, 107);
  }
  
  #intro {
      width: 60%;
      color: white;
      position: relative;
      font-size: 110%;
  }
  
  h1, h2, h3 {
      color:rgb(128, 186, 161);
  }
  
  #date {
      color: rgb(140, 172, 158);
  }

  .box {
    background-color:rgb(73, 82, 78);
    color: white;
    margin: 20px;
    padding: 10px;
  }

  .caption {
    padding-bottom: 15px;
    padding-top: 5px;
    /* padding-left: 20px;
    padding-right: 20px; */
    font-style: italic;
    color: rgb(205, 205, 205);
    font-size: 95%;
}

.redirect {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}

#oldpg { 
	grid-area: 1 / 1 / 2 / 2; 
	text-align: left;
}
#mainpg { 
	grid-area: 1 / 2 / 2 / 3; 
	text-align: center;
}
#newpg { 
	grid-area: 1 / 3 / 2 / 4;
	text-align: right; 
}

.crt::before {
    content: " ";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    z-index: 2;
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;
  }
  
  @keyframes flicker {
    0% {
    opacity: 0.27861;
    }
    5% {
    opacity: 0.34769;
    }
    10% {
    opacity: 0.23604;
    }
    15% {
    opacity: 0.10626;
    }
    20% {
    opacity: 0.18128;
    }
    25% {
    opacity: 0.10626;
    }
    30% {
    opacity: 0.18128;
    }
    35% {
    opacity: 0.23604;
    }
  }
  
  .crt::after {
    content: " ";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(18, 16, 16, 0.1);
    opacity: 0;
    z-index: 2;
    pointer-events: none;
    /* animation: flicker 0.15s infinite; */
  }