body {
    background-color: rgb(56, 63, 60);
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100%;
    font-family: Consolas, monospace;
}

a:link, a:visited {
    color:rgb(128, 186, 161);
}

a:hover {
    color:rgb(78, 129, 107);
}

a {
    margin-top: 0;
    margin-bottom: 0;
}

.wrapper {
    /*This part is important for centering*/
    display: grid;
    place-items: left;
  }
  
  #typing-demo-1 {
    width: 16ch;
    animation: typing 3s steps(16), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: x-large;
  }

  #typing-demo-2 {
    width: 6ch;
    animation: typing 1s steps(6), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: x-large;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }

#intro {
    width: 50%;
    height: 50%;
    margin-top: 10%;
    margin-bottom: 10%;
    color: white;
    position: relative;
}

.parent {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

h5 {
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: normal;
}